*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    width: 500px;
    height: 400px;
    margin: 0;
    padding: 150px;

    

}
.container{
    height: 300px;
    width: 600px;
    padding: 100px;
    border: 1px solid black;
}
i{
    animation-name: car;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes car {
    0% {
        transform: translateX(0px);
    }
    25%{
        transform: translate(550px);
    }
    50%{
        transform: translate(550px,360px);
    }
    75%{
        transform: translate(-60px,360x);
    }
    100%{
           transform: translate(-50px,0px);
    }
    

    
}