* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    background-color: rgb(59, 5, 5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hello:hover {
    border:2px white;
    transform: scale(1.5);
}

.nav-logo {
    height: 60px;
    width: 100px;
    display: flex;
}

.nav-address {
    width: 300px;
    height: 400px;
}

.logo {

    align-content: center;
    height: 60px;
    border-radius: 70%;
    width: 100px;
}

.add-icon {
    display: flex;

}


.nav-search {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 29, 33);
    height: 38px;
    border-radius: 10px;
    box-sizing: border-box;
}

.search-input {
    width: 300px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1rem;
    background-color: rgb(55, 29, 33);
    height: 38px;
    outline: none;
    border: none;

}
.search-input:hover{
     background-color: white;

}

.search-icon {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: rgb(55, 29, 33);
    height: 38px;
    ;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.audio {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.secondnav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(209, 214, 213);
}

.secondnav span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11.5px;
    flex-wrap: wrap;
    color: white;
    position: relative;
    height: 30px;
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    background-color: black;
    border-radius: 30px 30px 30px 30px;
}

.secondnav span:hover {
    background-color:  rgb(59, 5, 5);
    transform: scale(1.1);
}

.scroll {
    display: flex;
    overflow-x: scroll;
    background-color: black;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll img {
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    width: 600px;
    height: 400px;
    margin-left: -30px;
    border-radius: 20px 20px 20px 20px;
}


.cards img:hover {
    transform: scale(1.2);
}

.cards {
    display: flex;
    overflow-x: scroll;
    background-color: black;
}

.cards img {
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-top: 15px;
    border-radius: 4%;
    flex-wrap: wrap;
}

h2 {
    margin-left: 20px;
    color: white;
}